/*
    DEMO STYLE
*/



body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.th-row{
    grid-column-end:span 3;

}

.navbar {
    
    background-image: linear-gradient(60deg, #16a085 0%, #f4d03f 100%);
    border: none;
    border-radius: 0;
    
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-ats {
    background: #a6c0a6;
    width: 100%;
    height: 50px;
    }


.toggle{
    color:#fafafa;
    margin-top: -40px;
    margin-left: 10px;
   
    font-size: 25px;
}

.demo-table {
    border-collapse: collapse;
    font-size: 12px;
    }
    table.demo-table th, 
    table.demo-table td {
    padding: 3px 10px;
    }
    
    /* Table Header */
    .demo-table thead th {
    border-right: 1px solid #c7ecc7;
    text-transform: uppercase;
    text-align: center;
    
    }
    
    /* Table Body */
    
    .demo-table tbody td {
    background-color: #f4fff7;
    border-right: 1px solid #c7ecc7;
    }
    .demo-table tbody tr:nth-child(even) td {
    background-color: #dbffe5;
    }
    .demo-table tbody td:nth-child(4),
    .demo-table tbody td:first-child,
    .demo-table tbody td:last-child {
    text-align: right;
    }
    .demo-table tbody tr:hover td {
    background-color: #b4b0b065;
    border-right: 1px solid #a7e2a7;
    transition: all .3s;
    }




button.kanan{
    background: #ca5956;
    margin-left: 950px;
    
    border: white;
    box-shadow: none;
    color: #fafafa;
    height: 50px;
    width: 100px;
}

.navbar-btn {
    
    outline: none !important;
    border: none;
}

h2.jdl{
    color: #c08383;
    font-family: 'Poppins', sans-serif;
}
h2.judul{
    color: #a7e2a7;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
    
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgba(0, 0, 0, 0) url("../img/background/bg2.jpg") no-repeat scroll center top / cover; 
    color: #fff;
    transition: all 0.3s;
    background-size: cover;
    height: 100%;
   
}
.overlay{
    background:rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
  
    
}
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;

}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #a6c0a6;
    height: 50px;
    opacity: 0.85;
    
   
} 

img.side{
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 20px;

}
img.side2{
    width: 10px;
    height: 10px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
   
}

p.ol{
   color:#fafafa; 
   font-size: 12px;
   margin-top: -100px;
   margin-left: 105px;
   margin-bottom: 50px;
}

p.nama{
    font-size: 12px;
    color: white;
    margin-top: -55px;
    margin-bottom: 100px;
    margin-left: 105px;
}
p.ganti{
    color: #fafafa;
    font-size: 10px;
    margin-top: -35px;
    margin-left: 20px;
}
#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #97d6be;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: rgb(201, 204, 216);
    background: #fff;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #a6c0a6;
}


h1{
    font-size: 20px;
    margin-top: -5px;
    color: rgb(231, 228, 222);
    margin-left: 20px;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
  
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #a6c0a6;
}

a.article, a.article:hover {
    background: #a6c0a6 !important;
    color: #fff !important;
    
}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: block;
    }

    #sidebar .sidebar-header strong {
        display: block;
        margin-top: 100
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
